<!-- 失物信息修改 -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE-edge" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link rel="Shortcut Icon" href="imgs/logo.png">
<link
	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link
	href="https://cdn.bootcss.com/ResponsiveSlides.js/1.54/responsiveslides.css"
	rel="stylesheet">



<link href="css/common.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/pub.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<!-- 引入jQuery -->
<script type="text/javascript"
	src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script type="text/javascript"
	src="https://cdn.bootcss.com/ResponsiveSlides.js/1.54/responsiveslides.min.js"></script>
	<!--validate验证表单插件-->
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script src="https://cdn.bootcss.com/jquery-validate/1.17.0/additional-methods.js"></script>
		<!-- 引入timepicker -->
<script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	
</head>

<head>
	<title>修改失物信息</title>
</head>
<script>
	//表单字段验证 
	$(function(){
      	$("#lostForm").validate({
      		onfocusout:function(element) { $(element).valid(); },
            //onblur: function(element) { $(element).valid(); },    //鼠标移开验证
            onsubmit:true,      //提交时验证（有效）
            onkeyup:false,


            rules:{
            	lostName:{
            		required:true,
            		rangelength:[2,40]
            	},
            	lostType:{
            		required:true,
            	},
            	lostDate:{
            		required:true,
            	},
            	lostCity:{
            		required:true,
            		maxlength:30
            	},
            	lostPhone:{
            		required:true,
            		digits:true,
            		rangelength:[11,11]
            	},
            	lostPlace:{
            		required:true,
            		maxlength:30
            	},
            	lostInfo:{
            		required:true,
            		maxlength:100
            	},
            	image:{
            		required:true,
            		extension:'jpe?g|png'
            	}

            },
            messages:{
            	lostPhone:{
            		rangelength:"请输入正确的手机号"
            	},
            	image:{
            		extension:"请上传正确的图片格式（*.jpg,*.jpeg,*.png）"
            	}
            }
            
      	})
      });



    //格式化时间 （yyyy-MM-dd HH:mm:SS）
	function getFormatDate(){    
	    var nowDate = new Date();     
	    var year = nowDate.getFullYear();    
	    var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;    
	    var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();    
	    var hour = nowDate.getHours()< 10 ? "0" + nowDate.getHours() : nowDate.getHours();    
	    var minute = nowDate.getMinutes()< 10 ? "0" + nowDate.getMinutes() : nowDate.getMinutes();    
	    var second = nowDate.getSeconds()< 10 ? "0" + nowDate.getSeconds() : nowDate.getSeconds();    
	    return year + "-" + month + "-" + date+" "+hour+":"+minute+":"+second;    
	}  

	//获取提交时间并赋值给reportDate
    function getDate () {
    	var time = getFormatDate(); 
    	$('#reportDate').val(time);
    	// 2
    	// $('#userId').val(${sessionScope.loginUser.userID});
    	
    	// 3
    	//$('#userId').val($.session.get('loginUser.userID'));
    	//var lostForm = $('#lostForm').serialize();
    	
    	$('#lostForm').submit();
      }



</script>
<body>
	<div th:insert="nav-tem::nav"></div>
	<div id="pubInfo" class="formInfo">
		<div class="formHead">
			<p>修改失物信息<p>
		</div>
		<form class="form-horizontal" action="updateLost" method="post" name="lostForm" id="lostForm">
			<input type="text" id="lostId" name="lostId" th:value="${lost.lostId}" hidden>
			<div class="form-group">
				<!-- 显示图片并规定尺寸  -->
				<label class="col-sm-3 control-label">失物图片</label>
				<div class="col-sm-4">
					<!-- 引号内可改路径前缀 -->
					<img th:src="@{'show'+${lost.image}}" height="200px" width = "150px"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">失物信息标题</label>
				<div class="col-sm-6">
					<input type="text" id="lostName" name="lostName" class="form-control" placeholder="请输入失物信息标题，40字以内" th:value=${lost.lostName}>
				</div>	
			</div>
			<div class="form-group">
				<!-- select -->
				<label class="col-sm-3 control-label">失物类型</label>
				<div class="col-sm-4">
				
					<select class="form-control" id="lostType" name="lostType">
						请选择类型
						
						<option th:selected="${lost.lostType == '钱包'}">钱包</option>
						<option th:selected="${lost.lostType == '证件'}">证件</option> 
						<option th:selected="${lost.lostType == '卡类'}">卡类</option>
						<option th:selected="${lost.lostType == '钥匙'}">钥匙</option>
						<option th:selected="${lost.lostType == '服饰'}">服饰</option>
						<option th:selected="${lost.lostType == '数码'}">数码</option>
						<option th:selected="${lost.lostType == '宠物'}">宠物</option>
						<option th:selected="${lost.lostType == '包裹'}">包裹</option>
						<option th:selected="${lost.lostType == '其他'}">其他</option>
						     
					</select>

					</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">丢失时间</label>
				<div class="col-sm-6 " >
					<div class="input-group">
					<input type="text" th:value="${#dates.format(lost.lostDate,'yyyy-MM-dd')}" class="form-control" id="datePicker" name="lostDate">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-calendar"></i>
					</span>
				</div>
				</div>	
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">丢失城市</label>
				<div class="col-sm-6">
					<input type="text" id="lostCity" name="lostCity" class="form-control" placeholder="请输入丢失城市"  th:value="${lost.lostCity}">
				</div>	
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">丢失地点</label>
				<div class="col-sm-6">
					<input type="text" id="lostPlace" name="lostPlace" class="form-control" placeholder="请输入丢失地点，30字以内"  th:value="${lost.lostPlace}">
				</div>	
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">联系方式</label>
				<div class="col-sm-6">
					<input type="text" id="lostPhone" name="lostPhone" class="form-control" placeholder="联系方式"  th:value="${lost.lostPhone}">
				</div>	
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">招领状态</label>
				<div class="col-sm-6">
					<input type="radio" id="state-ok" name="state" value="1" th:checked="${lost.state==1}">已完成
					<input type="radio" id="state-no" name="state" value="0" th:checked="${lost.state==0}">进行中
				</div>	
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">失物具体描述</label>
				<div class="col-sm-6">
					<textarea  id="lostInfo" name="lostInfo" class="form-control" rows="3" placeholder="请输入失物具体描述，100字以内"  >[[${lost.lostInfo}]]</textarea>
				</div>	
			</div>
			
			
			<div class="form-group">
				<div class="col-sm-offset-2" >
					<!--button type="button" onclick="getDate()" class="btn btn-info">提交</button>  -->
					<input type="submit" value="提交"style="margin-left:60px; "></td>
				</div>	
			</div>
			<input type="text" name="reportDate"  id="reportDate" hidden>

		</form>
	</div>
	<script>
	 $('#datePicker').datetimepicker({  
	        format: 'YYYY-MM-DD',  
	        locale: moment.locale('zh-cn')        
	    }); 
</script>
</body>
</html>